::-ms-clear,
::-ms-reveal
    display none

input[type='button'],
input[type='password'],
input[type='text'],
input[type='submit'],
input[type='reset']
    appearance none

textarea
  resize vertical

.group:after
    content ""
    display table
    clear both

html
    box-sizing border-box

*,
*:before,
*:after
    box-sizing inherit

.ellipsis
    text-overflow ellipsis
    white-space nowrap
    overflow hidden